// Typography

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $ff-heading;
  line-height: $lh-heading;
}
p {
  font-family: $ff-base;
  line-height: $lh-base;
}

// h1 {
//   @include font-size($h1);
// }
// h2 {
//   @include font-size($h2);
// }
// h3 {
//   @include font-size($h3);
// }
// h4 {
//   @include font-size($h4);
// }
// h5 {
//   @include font-size($h5);
// }
// h6 {
//   @include font-size($h6);
// }
// p {
//   @include font-size($fs-base);
// }
small,
.small {
  @include font-size(0.875rem);
}

h1 {
  font-size: 3rem;
  font-size: clamp(2.5rem, 6vw, 4.5rem);
}
h2 {
  font-size: 2.25rem;
  font-size: clamp(1.75rem, 4vw, 2.875rem);
}
h3 {
  font-size: 1.75rem;
  font-size: clamp(1.5rem, 3vw, 2.125rem);
}
h4 {
  font-size: 1.25rem;
  font-size: clamp(1.25rem, 2vw, 1.25rem);
}
p {
  font-size: 1rem;
  font-size: clamp(1rem, 2vw, 1.125rem);
}
a {
  color: color(link);
  @include hover-focus {
    color: color(link-hover);
  }
}
